<% if @movie.errors.any? %>
  <div class="alert alert-danger">
    <strong><%= pluralize @movie.errors.count, 'error' %> stopped you from getting your job done</strong>
    <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>

<% end %>

<%= form_for @movie do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
